<div class="py-4 mt-4 w-max" style="background-color: #242427; border-radius: 20px;">
  <div class="flex px-4 justify-between rounded-lg">
    <div class="flex w-max items-center rounded-full overflow-hidden text-black font-semibold shadow-md">
      <div class="bg-yellow-400 font-bold px-4 py-2 text-lg flex items-center">
        20:30<span class="text-xs ml-1">PM</span>
      </div>
      <div class="bg-yellow-500 font-bold px-4 py-2 text-lg flex items-center">
        23:59<span class="text-xs ml-1">PM</span>
      </div>
    </div>
    <div class="flex w-max items-center rounded-full font-semibold shadow-md px-4 py-2 text-sm flex items-center gap-1" style="background-color: #313135;">
      <span class="ml-1">Noite</span>
      <span class="ml-1">08/04</span>
    </div>
  </div>
  <div class="flex justify-center mt-4 p-4 gap-4" style="background-color: #141416;">
    <div class="rounded-lg bg-red-600 w-max p-2 text-center">
      <p class="text-xs">Semana Anterior</p>
      <span class="font-bold text-2xl">2,70</span>
      <p class="font-bold text-xs">KM/L</p>
    </div>
    <div class="rounded-lg bg-red-600 w-20 p-3 text-center ">
      <span class="font-bold text-2xl">2,63</span>
      <p class="font-bold text-xs">KM/L</p>
    </div>
    <div class="rounded-lg bg-green-600 w-20 p-3 text-center">
      <span class="font-bold text-2xl">2</span>
      <p class="font-bold text-xs">Giro</p>
    </div>
    <div class="rounded-lg bg-green-600 w-20 p-3 text-center">
      <span class="font-bold text-2xl">5</span>
      <p class="font-bold text-xs">Freio</p>
    </div>
    <div class="rounded-lg bg-red-600 w-20 p-3 text-center">
      <span class="font-bold text-2xl">20</span>
      <p class="font-bold text-xs">Pedal</p>
    </div>
  </div>
  <div class="flex gap-4 items-center">
    <div class="rounded-full ms-4 mt-4 w-12 h-12 border-4 border-yellow-400 flex items-center justify-center">
      <ng-icon name="matPerson" style="font-size: 24px;"/>
    </div>
    <div class="flex flex-col font-bold pt-3">
      <p class="text-lg">V88500</p>
      <small class="text-sm">Placa</small>
    </div>
    <div class="flex flex-col font-bold pt-3">
      <p class="text-lg">L9970</p>
      <small class="text-sm">Linha</small>
    </div>
  </div>
</div>